body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#373737, #4e4e4e);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    overflow: hidden;
}

#window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 25vw;
    min-height: 450px;
    min-width: 350px;
    background: linear-gradient(#d3d3d341, #dcdcdc41);
    box-shadow: 0 0 20px #64646476;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
}

p, div {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px #00000048;
}

#btns {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    height: 20%;
    width: 60%;
    background: #000;
    border-radius: 20px;
    transition: 200ms cubic-bezier(0.12, 0.79, 0.35, 0.99);
    box-shadow: 0 0 15px #00000053;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#YesBtn {
    background: linear-gradient(#71ff75cc, #57d26d);
}
#NoBtn {
    background: linear-gradient(#ff6e70, #d85e5e);
}

.decorate {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: rgb(242, 0, 255);
    z-index: 1;
}